/* Heading Style */

h1 {
    font-family: 'Lucida Console';
    color: darkgreen;
    font-size: 2.1em;
    letter-spacing: 0.1em;
}

/* Body Header Styles */

body > header > nav.horizontalNavigation li {
    width: 25%;
}

/* Horizontal Navigation Style */

nav.horizontalNavigation li {
    display: block;
    float: left;
    text-align: center;
    font-family: cursive;
    background-color: darkseagreen;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Left Column Style */

section#leftColumn {
    float: left;
    width: 45%;
    padding: 0.5em
}

/* Right Column Style */

section#rightColumn {
    float: right;
    width: 45%;
    padding: 0.5em;
}
/* Body Style */

body {
    width: auto;
    color: forestgreen;
    background-color: black;
    font-family: monospace;
    font-size: 1.5em;
    letter-spacing: 0.1em;   
}

/* Body Styles */

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    min-width: 300px;
    width: 95%
}

/* Body List Style */

body > ul {list-style: circle;
    line-height: 2em;
}


/* Footer Style */

footer{ 
    clear: left;
    color: darkslategrey;
    text-align: center;
    background-color: darkseagreen
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
